.divider {
  width: 100%;
  height: 1px;
  background-color: $light-grey;
}

.image-wrapper {
  position: relative;
  padding-top: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  background: $lighter-grey;
}
