@media(max-width: 650px) {
  .container {
    height: auto;
    padding: 10px 0;
  }

  .navigation-panel,
  .content-panel {
    display: block;
    float: none;
    width: 90%;
    height: auto;
    padding: 5px 0;
    margin: 0 auto;
  }
}
