// General layout
//
// Contains the overall layout and commonly used layout components

html,
body {
  height: 100%;
  background: $background-color;
}

.container {
  position: relative;
  height: 100%;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

@media(max-width: 767px) {
  .container {
    padding: 0;
  }
}
