.navigation-panel {
  float: left;
  width: 210px;
  height: calc(100% - 40px);
  padding: 40px 40px 0;

  img {
    width: 100%;
  }

  .divider {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: $grey;
  }
}

.nav-links {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;

  li {
    padding-bottom: 30px;
    text-align: center;

    a {
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    .active {
      font-weight: 700;
    }
  }
}

.nav-footer {
  position: absolute;
  right: 0;
  bottom: 10%;
  left: 0;
  margin-bottom: 30px;
  text-align: center;

  p {
    font-size: 18px;
  }

  .social-icons {
    li {
      display: inline-block;
      margin: 10px 4px;
    }

    a {
      display: block;
      font-size: 22px;

      &:hover {
        color: $black;
      }
    }

    &:hover {
      li {
        color: $grey;
      }
    }
  }

  .copyright {
    margin-top: 5px;
    font-size: 12px;
    color: $grey;
  }
}
