.navigation-panel {
  padding: 40px 0 0;

  .logo {
    display: inline-block;
    float: left;
    width: 100%;
    max-width: 185px;
    padding-bottom: 14px;
  }

  img {
    width: 100%;
  }
}

.nav-links {
  display: inline-block;
  float: right;
  line-height: 68px;

  li {
    display: inline-block;
    padding-left: 50px;

    a {
      padding: 26px 0;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    .active {
      font-weight: 700;
    }
  }
}

@media(max-width: 767px) {
  .navigation-panel {
    width: 90%;
    padding: 5px 0;
    margin: 0 auto;

    .logo {
      display: block;
      float: none;
      padding-bottom: 0;
      margin: 0 auto;
      text-align: center;
    }
  }

  .nav-links {
    display: block;
    float: none;
    line-height: normal;
    text-align: center;

    li {
      padding: 10px 15px;

      a {
        padding: 13.5px 0;
      }
    }
  }
}
