.project-panel {
  h1 {
    margin-bottom: 15px;
  }

  .project-list {
    width: 103%;
    margin-top: -2.5%;
    margin-left: -3%;
  }

  .project-item {
    position: relative;
    display: inline-block;
    float: left;
    width: 30.3%;
    margin-top: 2.5%;
    margin-left: 3%;
    vertical-align: top;

    &:nth-child(3n+1) {
      clear: left;
    }

    img {
      width: 100%;
      padding-bottom: 15px;
    }

    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }

  @media (max-width: 767px) {
    .project-list {
      margin-top: 0;
    }

    .project-item {
      width: 47%;

      &:nth-child(3n+1) {
        clear: none;
      }
    }
  }

  @media (max-width: 479px) {
    .project-item {
      width: 97%;
      margin-top: 5%;
    }
  }
}
