.project {
  .project-title {
    padding-bottom: 10px;
  }

  .project-main-image {
    float: right;
    width: 45%;
    max-width: 435px;
    margin: 0 0 25px 25px;
  }

  .title,
  .tag {
    display: inline-block;
    vertical-align: top;
  }

  .title {
    padding-right: 15px;
    font-weight: 400;
  }

  .tagline {
    font-size: 0.85714rem;
    font-style: italic;
    line-height: 14px;
    letter-spacing: 1px;

    a {
      font-size: 18px;
    }
  }

  .tag {
    padding: 5px;
    font-style: normal;
    font-weight: 300;
    border: 1px solid $black;
  }

  h1:not(.title),
  p:not(.tagline) {
    padding-bottom: 10px;
  }

  .wireframe {
    display: inline-block;
    width: 20%;
    max-width: 185px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .visual {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid $paper-white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 5px rgba(128, 128, 128, 0.1) inset;
  }

  .visual-desktop {
    width: 45%;
    max-width: 351px;
  }

  .visual-mobile {
    width: 50%;
    max-width: 140.5px;
  }

  .project-image {
    display: inline-block;
    width: 50%;
    max-width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .project-icon {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
  }
}
