.project-panel {
  h1 {
    margin-bottom: 15px;
  }

  .grid-sizer {
    width: calc(25% - 15px);
  }

  .gutter-width {
    width: 15px;
  }

  .project-item {
    width: calc(25% - 15px);
    margin-bottom: 15px;

    img {
      width: 100%;
      padding-bottom: 15px;
    }

    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }

  @media (max-width: 1200px) {
    .grid-sizer {
      width: calc(33.33% - 15px);
    }

    .project-item {
      width: calc(33.33% - 15px);
    }
  }

  @media (max-width: 930px) {
    .grid-sizer {
      width: calc(50% - 15px);
    }

    .project-item {
      width: calc(50% - 15px);
    }
  }

  @media (max-width: 767px) {
    .grid-sizer {
      width: calc(33.33% - 10px);
    }

    .gutter-width {
      width: 10;
    }

    .project-item {
      width: calc(33.33% - 10px);
      margin-bottom: 10px;

      img {
        padding-bottom: 10px;
      }
    }
  }

  @media (max-width: 650px) {
    .grid-sizer {
      width: calc(50% - 10px);
    }

    .gutter-width {
      width: 10;
    }

    .project-item {
      width: calc(50% - 10px);
      margin-bottom: 10px;

      img {
        padding-bottom: 10px;
      }
    }
  }

  @media (max-width: 320px) {
    .grid-sizer {
      width: 100%;
    }

    .gutter-width {
      width: 0;
    }

    .project-item {
      width: 100%;
    }
  }
}
