.resume-panel {
  float: left;
  width: calc(100% - 412px);
  height: calc(100% - 60px);
  max-width: 738px;
  padding: 0 30px;
  margin: 30px;
  overflow: overlay;
  background-color: $paper-white;
  border: 1px solid $paper-white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 15px rgba(128, 128, 128, 0.1) inset;

  h2,
  h3 {
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: inherit;
    text-transform: none;
  }

  a {
    color: $resume-blue;
    text-decoration: underline;
  }

  li {
    line-height: 18px;
  }

  @media(max-width:767px) {
    display: block;
    float: none;
    width: 90%;
    height: auto;
    padding: 0;
    margin: 10px auto;
  }
}

.main-details {
  padding: 25px 35px;
  border-bottom: 1px solid $resume-blue;
  animation-delay: 1s;
  animation-duration: 1s;

  h2 {
    font-size: 2rem;
    line-height: 34px;
    color: $resume-blue;
  }

  h3 {
    font-size: 1.35rem;
    line-height: 24px;
  }

  .resume-pic {
    float: left;
    width: 12.5%;
    margin-right: 30px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .name {
    float: left;

    p {
      font-style: italic;
      letter-spacing: 0.5px;
      text-align: right;
    }
  }

  .resume-contact {
    float: right;

    ul {
      margin-top: 5px;
      font-size: 0.9em;
    }
  }

  @media(max-width:950px) {
    .resume-pic {
      display: none;
    }

    .name,
    .resume-contact {
      float: none;
      width: 100%;
      text-align: center;

      p {
        text-align: center;
      }
    }

    .resume-contact {
      li {
        margin: 0;
      }
    }
  }
}

.main-content {
  padding: 0 20px;
  animation-delay: 1.5s;
  animation-duration: 1.5s;

  section {
    padding: 15px 0 0;
    border-top: 1px solid $resume-blue;

    &:first-child {
      border-top: 0;
    }

    h3 {
      font-size: 1.25em;
    }
  }

  .section-title {
    float: left;
    width: 25%;

    h3 {
      font-style: italic;
      color: $resume-blue;
    }
  }

  .section-content {
    float: right;
    width: 75%;

    .main-skills {
      margin-bottom: 15px;
      -webkit-column-count: 3;
      column-count: 3;
    }

    p {
      line-height: 18px;
    }

    a {
      color: $resume-blue;
      text-decoration: underline;
    }

    .sub-details {
      font-size: 0.8em;
      font-style: italic;
    }
  }

  @media(max-width: 900px) {
    .section-title,
    .section-content {
      float: none;
      width: 100%;

      .main-skills {
        -webkit-column-count: 2;
        column-count: 2;
      }
    }
  }

  @media (max-width: 480px) {
    section {
      h3 {
        font-size: 1.15em;
      }
    }

    .section-content {
      .main-skills {
        -webkit-column-count: 1;
        column-count: 1;
      }
    }
  }
}
